<h1>{{translate "add_card"}}</h1>
<form method="post" novalidate>
  <input type="hidden" name="OTT">
  <input type="hidden" name="Action">
  <input type="hidden" name="AcctName">
  <div class="input-container card-number">
    <input name="cardNumber" type="tel" pattern="\d*" class="credit-card" placeholder="{{translate "card_number_placeholder"}}" data-hj-masked required>
    <label>{{translate "card_number"}}</label>
    <i class="card-type"></i>
  </div>
  <div class="input-group cvv-group-container">
    <div class="input-container">
      <input name="expiryDate" type="tel" pattern="\d*" class="expiry-date" placeholder="{{translate "card_expiry_date_placeholder"}}" required>
      <label>{{translate "card_expiry_date"}}</label>
    </div>
    <div class="input-container cvv-container">
      <input name="CVN" type="tel" pattern="\d*" class="cvv" placeholder="{{ translate "cvv_number_placeholder" }}" data-hj-masked required>
      <label>{{translate "cvv"}}</label>
    </div>
  </div>
  <input type="hidden" name="AcctNumber" data-hj-masked>
  <input type="hidden" name="ExpDate">
  <input type="hidden" name="First">
  <input type="hidden" name="LastName">
  <input type="hidden" name="Address1">
  <input type="hidden" name="Address2">
  <input type="hidden" name="City">
  <input type="hidden" name="ZipCode">
  <input type="hidden" name="CountryCode">

  {{#if cardRegBonus}}
    <div class="add-card-bonus">
      {{#if cardRegBonusImg}}
        <img src="{{cardRegBonusImg}}" alt="{{cardRegBonus.displayName}}">
      {{/if}}
      <div class="info-container">
        <p>{{translate "include"}} {{#unless useCodeForBonus}} {{currency cardRegBonus.bonusAmount 2}} {{/unless}} {{translate "card_registration_bonus"}}
        <a target="_blank" href="/promotional-terms">{{translate "view_promo_terms"}}</a>
        </p>
        <div class="input-container">
          <div class="input-group">
            {{#if useCodeForBonus}}
              <input id="bonusPromoCode" name="bonusPromoCode" type="text" placeholder="{{translate "enter_promo_code_placeholder"}}">
            {{else}}
              <input id="bonusOptInYes" name="bonusOptIn" type="radio" value="true" checked="checked">
              <label for="bonusOptInYes"><span>{{translate "yes_please"}}</span></label>
              <input id="bonusOptInNo" name="bonusOptIn" type="radio" value="false">
              <label for="bonusOptInNo"><span>{{translate "no_thanks"}}</span></label>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <footer>
    <button type="submit" class="add-card modify-bonus-text">
      <span>
        <svg class="spinner" width="15px" height="15px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        {{translate "add_card"}}
      </span>
    </button>
  </footer>

  {{#if returnToDeposit}}
    <button class="show-deposit" type="button">{{translate "return_deposit"}}</button>
  {{/if}}
</form>
