
  {{#unless marketing}}
    <h1>{{translate "register_marketing_sure_title"}}</h1>
    <p>{{translate "register_marketing_sure"}}</p>
    <p>{{translate "register_marketing_opt_offer"}}</p>
  {{/unless}}


<div class="input-container terms-container checkbox-group">
  <input id="termsAgreement" type="checkbox" name="termsAgreement" {{isChecked}}>
  <label for="termsAgreement">
    <p>{{translate "registration_terms_agreement" privacyLink termsLink}}</p>
  </label>
</div>

<footer>
  <button type="submit" class="register-end" data-opt="opt-in">
    <span data-opt="opt-in">
      <div class="spinner"></div>
      {{translate regButtonLabel}}
    </span>
  </button>

  {{#unless marketing}}
    <button type="submit" class="btn-text">
      <span>
        {{translate "register_marketing_no_thanks"}}
      </span>
    </button>
  {{/unless}}
</footer>
