<div class="balance-list {{openClass}}">
  <div class="balance-group">
    <main-balance>
      <span>{{currency totalBalance 2}}</span>
    </main-balance>

    <button class="toggle-wallets">
      <span>
        <svg viewBox="0 0 8 5">
          <use xlink:href="#icon-arrow-down"/>
        </svg>
      </span>
    </button>
  </div>

  <section class="wallets">
    {{#each wallets}}
      <sub-balance>
        <wallet-name>{{translate walletName}}:</wallet-name>
        <wallet-value>{{currency balance 2}}</wallet-value>
      </sub-balance>
    {{/each}}

    {{#if loyalty}}
      <sub-balance>
        <wallet-name>{{loyalty.pointsName}}:</wallet-name>
        <wallet-value>{{loyalty.pointsBalance}}&nbsp;{{loyalty.abbreviation}}</wallet-value>
      </sub-balance>
    {{/if}}
  </section>
</div>
