<div class="balance-list {{openClass}}">
  <div class="balance-group">
    <div class="hide-balance">
      <svg class="shown" viewBox="0 0 17.2 10.3"><use xlink:href="#icon-eye-open-icon"/></svg>
      <svg class="hidden" viewBox="0 0 32 14.58"><use xlink:href="#icon-eye-closed-icon"/></svg>
    </div>

    <main-balance>
      <span>{{currency totalBalance 2}}</span>
    </main-balance>

    <button class="toggle-wallets">
      <span>
        <svg viewBox="0 0 1 1">
          <use xlink:href="#icon-arrow-down"/>
        </svg>
      </span>
    </button>
  </div>

  <section class="wallets">
    {{#each wallets}}
      <sub-balance>
        <wallet-name>{{translate walletName}}:</wallet-name>
        <wallet-value>{{currency balance 2}}</wallet-value>
      </sub-balance>
    {{/each}}

    {{#if loyalty}}
      <sub-balance>
        <wallet-name>{{loyalty.pointsName}}:</wallet-name>
        <wallet-value>{{loyalty.pointsBalance}}&nbsp;{{loyalty.abbreviation}}</wallet-value>
      </sub-balance>
    {{/if}}
  </section>
</div>
