<user-info>
  <personal-details></personal-details>
  <marketing-preferences></marketing-preferences>
  <div class="balance-section">
    <h2>{{translate "profile_balance_title"}}</h2>
    <wallets-area></wallets-area>
    <pending-withdrawals></pending-withdrawals>
    <small class="deposit-footnotes">
      {{translate "deposit_footnote_in_accordance"}}
      <a target="_blank" href="/responsible-gambling">{{translate "deposit_footnote_policy"}}</a>,
      {{translate "deposit_you_can_now_set"}}
      <a href="/account/deposit-limits">{{translate "deposit_limits_title"}}</a>.
    </small>
  </div>
  <login-history></login-history>
</user-info>
