<h2>{{translate "contact_preferences"}}</h2>
<p>{{translate "register_marketing_line1" siteName}}</p>
<p>{{translate "register_marketing_line2"}}</p>

<form novalidate>
  <div class="input-container">
    <div class="input-group">
      {{#each contactTypes}}
        <input class="opt-radio-btn" id="{{key}}" type="checkbox" name="{{key}}" {{checked}}>
        <label for="{{key}}">{{display}}</label>
      {{/each}}
    </div>
  </div>
  <footer>
    <button type="submit" class="btn update-marketing">
      <span>
        <svg class="spinner" width="15px" height="15px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        {{translate "update_preferences"}}
      </span>
    </button>
  </footer>
</form>
