<svg class="spinner {{isSyncing}}" width="15px" height="15px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
  <circle class="path" fill="none" stroke-width="6" stroke="currentColor" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg>
<h2>{{translate "profile_details_title"}}</h2>
<section class="user-details {{isSyncing}}" data-hj-masked>
  <div>
    <h3>{{translate "name"}}</h3>
    <p>{{firstname}} {{lastname}}</p>

    <h3>{{translate "dob_label"}}</h3>
    <p>{{dateOfBirth}}</p>
  </div>
  <div>
    <h3>{{translate "address"}}</h3>
    <p>{{addressLine1}}</p>
    {{#if addressLine2}}
      <p>{{addressLine2}}</p>
    {{/if}}
    <p>{{town}}</p>
    {{#if county}}
      <p>{{county}}</p>
    {{/if}}
    <p>{{postCode}}</p>
  </div>
  <div>
    <h3>{{translate "telephone"}}</h3>
    <p class="{{telephoneClass}}">
      {{#if telephone}}
        {{telephone}}
      {{else}}
        {{translate "undisclosed"}}
      {{/if}}
    </p>
    <h3>{{translate "gender"}}</h3>
    <p class="{{genderClass}}">
      {{#if gender}}
        {{gender}}
      {{else}}
        {{translate "undisclosed"}}
      {{/if}}
    </p>
  </div>
</section>
<section class="user-updates">
  <div>
    <button class="updated-contacts">{{translate "update_details"}}</button>
    <button class="change-password">{{translate "change_password"}}</button>
    <small>
      {{translate "change_address_contact"}} <a href="{{supportUrl}}" rel="{{supportRel}}" title="{{translate
      "support"}}">{{translate "support"}}</a>.
      {{translate "set_limits"}} <a href="/account/responsible-gambling" title="{{translate
      "responsible_gambling"}}">{{translate "responsible_gambling"}}.</a>
    </small>
  </div>
</section>
